<div class="tableComponent">
  <div class="tableComponent__header" *ngIf="header">
    {{header}}
  </div>
  <table class="tableComponent__table">
    <thead>
      <tr>
        <th *ngFor="let def of columns">{{def.as}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; let r=index">
        <td *ngFor="let col of row; let c=index">
          {{col}}
        </td>
        <td width="15%">{{scrobble.date_scrobbled | date: 'MMM d h:mm a'}}</td>
      </tr>
    </tbody>
  </table>
</div>
